backend/integrations/andrew_n8n_workflows.json
{
  "name": "Andrew Communication Siphon & Motion Pulse",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "id": "1",
      "name": "Calendar Polling (1 Min)",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/v1/schedule",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tasks",
              "value": "={{$json.events}}"
            }
          ]
        }
      },
      "id": "2",
      "name": "Trigger FastAPI Motion Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "getMany",
        "limit": 10,
        "filters": {
          "labelIds": ["INBOX", "UNREAD"]
        }
      },
      "id": "3",
      "name": "Gmail Inbox Siphon",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [250, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.from}}",
              "operation": "contains",
              "value2": "boss@company.com"
            }
          ]
        }
      },
      "id": "4",
      "name": "Donna Prioritization Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 500]
    }
  ],
  "connections": {
    "Calendar Polling (1 Min)": {
      "main": [
        [
          {
            "node": "Trigger FastAPI Motion Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Inbox Siphon": {
      "main": [
        [
          {
            "node": "Donna Prioritization Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
